*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
main{
    width: 100%;
}
.header{
    width: 100%;

}
header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 80px;
    padding: 0 20px;
    margin: 5% 10%;
}
nav{
    width: 30%; 
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
    font-size: 18px;
}
article{
    display: flex;
    height: 900px;
    align-items: center;
}
article > *{
    margin: 0 10%;
}
.separador{
    width: 100%;
    height: 86px;
    background-image: url(/images/bg-curve-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
article.seccion2{
    height: 900px;
    background-color: #F8F8FE;
}

.izquierda{
    width: 50%;
    height: auto;
    padding: 20px;
}
.izquierda_texto h2{
font-size: 40px;
line-height: 60px;
}
.izquierda_texto p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}
.izquierda_texto_input input{
width: 320px;
height: 45px;
margin-right: 10px;
padding-left: 10px;
margin-top: 18px;
border: 1px solid #000;
border-radius: 5px;
font-size: 16px;
}
.izquierda_texto_input button{
    width: 200px;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #2F65F9;
    color: #fff;
    border: none;
    font-size: 16px;
}
.izquierda_imagen{
    border-bottom: 1px solid #68C0B2;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.izquierda_imagen a{
text-decoration: none;
color: #68C0B2;
font-size: 18px;
font-weight: 600;

}
.izquierda-card{
    margin-top: 50px;
    width: 420px;
    height: 235px;
    background-color: white;
    border-radius: 9px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(168,161,168,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(168,161,168,1);
    box-shadow: 0px 0px 5px 1px rgba(168,161,168,1);
}
.izquierda-card img{
    width:23px;
    height: auto;
    
}
.izquierda-card p{
    font-size: 18px;
    color: #575989;
    margin-right: 15px;
    line-height: 25px;
}
.perfil{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
.perfil img{
    border-radius: 50px;
    width: 39px;
    height: 39px;
}

/******************Derecha*******************/

.derecha{
    width: 50%;
    height: 100%;
}
.derecha.img-1{
 background-image: url(/images/illustration-1.svg);
 background-size: 70%;
 background-repeat: no-repeat;
 background-position: center;
}
.derecha.img-2{
    background-image: url(/images/illustration-2.svg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

/************Seccion de news letter**************/
.seccion-morada{
    width: 100%;
    height: 350px;
    background-color: #575989;
    padding: 20px 0;
    display: flex;
    
}
.seccion_izquierda{
    width: 50%;
    padding: 0 10%; 
    display: flex;
    justify-content: start;
    align-items: center; 
}
.seccion_izquierda h2{
    font-size: 40px;
    line-height: 60px;
    color: #fff;
}
.seccion_izquierda p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    color: #fff;
}
.seccion_derecha{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;

}
.seccion_derecha input{
width: 100%;
height: 45px;
padding-left: 10px;
border-radius: 5px;
border: none;
font-size: 16px;
-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
.seccion_derecha button{
    align-self: flex-start;
    width: 220px;
    height: 55px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #2F65F9;
    color: #fff;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
footer{
    width: 100%;
    height: 400px;
    background-color: #07053C;
    display: flex;
    align-items: center;
}
.quince {
    color: #fff;
    width: 15%;
}
.quince h2{
    font-weight: 300;
    font-size: 16px;
    line-height: 35px;
}
.treinta{
 width: 30%;
}
.texto h3{
    font-weight: 300;
    font-size: 16px;
}
.cuarenta{
    width: 40%;
}
.logo{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.logo i{
    font-size: 25px;
}
.quince, .treinta, .cuarenta{
    display: flex;
    justify-content: center;
}
.treinta .texto{
 display: flex;
 margin-top: 20px;
 gap: 20px;
 color: #fff;
 font-size: 16px
}
.texto img{
    width: auto;
    height: 18px;
}

@media (max-width:768px){

    body{
        border: 1px solid red;
    }
    .header{
        width: 100%;    
    }

    header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-top: 80px;
        margin: 7% 2%;
    }
    .header img{
        width: 30%;
        height: 30%;
    }
    nav{
        width: 60%; 
    }
    nav ul{
        display: flex;
        justify-content: space-evenly;
    }
    nav ul li{
        list-style: none;
        font-size: 14px;
    }
    /* article 1 */
    article.seccion1{
        display: grid;
        width: 100%;
    }
    article > *{
        margin: 0;
    }
    .separador{
        width: 100%;
        height: 50px;
        background-image: url(/images/bg-curve-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .izquierda{
        width: 100%;
        height: auto;
        padding: 20px;
        order: 2;
    }
    .izquierda_texto h2{
        font-size: 18px;
        line-height: 40px;
        text-align: center;
        }
        .izquierda_texto p{
            font-size: 16px;
            line-height: 30px;
            margin-top: 20px;
            text-align: center;
            color: #5C5871;
        }
        .izquierda_texto_input input{
            width: 320px;
            height: 45px;
            padding-left: 10px;
            margin-right: 0;
            margin-top: 18px;
            border: 1px solid #000;
            border-radius: 5px;
            font-size: 16px;
            }
            .izquierda_texto_input button{
                width: 100%;
                height: 45px;
                border-radius: 5px;
                font-weight: 500;
                background-color: #2F65F9;
                color: #fff;
                border: none;
                font-size: 16px;
                margin-top: 20px;
            }
    .derecha{
        width: 100%;
        height: 136%;
        padding-top: 400px;
    }
    .derecha.img-1{
     background-image: url(/images/illustration-1.svg);
     background-size: 80%;
     background-repeat: no-repeat;
     background-position: center;
     order: 1;
    }
    .derecha.img-2{
        background-image: url(/images/illustration-2.svg);
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    article.seccion2{
        display: grid;
        width: 100%;
        height: 500px;
    }
    .seccion2_izquierda{
        width: 100%;
        height: auto;
        padding: 20px;
        order: 2;
        
    }
}